#usa-circles
  .row-fluid
    .span12
      %h1 USA Circles

      #start.btn
        Start

      #step-1.btn
        Step 1

      #step-2.btn
        Step 2

      #random-circles.btn
        Random

  .row-fluid
    .span12
      #chart
      
      = render "usa"